

nav {
    background-color: rgb(0, 0, 0);
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 60%;
        grid-template-columns: 30% 60%;
    -webkit-column-gap: 10%;
        column-gap: 10%;
    padding: 0% 5%;
  }